/* || RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* || GENERAL STYLES */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
}

.mw-l {
    max-width: 1200px;
    margin: 0 auto;
}

.mw-s {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.hero,
.info,
.quote,
.sign-up {
    padding: 80px 0;
}

/* BG COLORS */
.dark-blue {
    background-color: #1f2937;
}

.white {
    background-color: #fff;
}

.light-gray {
    background-color: #e5e7eb;
}

.button-box,
button {
    background-color: #3882f6;
}

/* FONT COLORS */
.header-logo,
.hero-container h1,
.hero-container button,
.button-box,
.button-box button,
footer p {
    color: #f9faf8;
}

.navbar a,
.hero-container p {
    color: #e5e7eb;
}

.info-container h2,
.quote-container p {
    color: #1f2937;
}

.item-container p {
    color: #444d5b;
}

/* FONT STYLES */
.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar li {
    font-size: 18px;
}

.hero-container h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.info-container h2 {
    font-size: 36px;
    font-weight: 900;
}

.quote-container p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

p.signature {
    font-weight: 700;
}

/* || HEADER */
.header {
    padding: 10px 0;
}

.navbar {
    display: flex;
    gap: 20px;
}

/* || FOOTER */
.footer p {
    text-align: center;
    padding: 25px;
}

/* || MAIN */

/* || HERO */
.hero-container .flex-between {
    gap: 50px;
}

.hero-container .left,
.hero-container .right {
    flex: 1;
}

.hero-container p {
    padding: 15px 0;
}

.hero-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: rgb(106, 113, 130);
}

/* || INFO */
.info h2 {
    text-align: center;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
}

.item {
    flex-basis: 200px;
}

.img-box {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.item p {
    margin-top: 15px;
}

/* || QUOTE */
.signature {
    text-align: right;
}

/* || SIGN UP */
.button-box {
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}

.button-box button {
    border: 1px solid #fff;
}